<%- include ./header %>
<div class="container login-view">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <img class="mb-0" width="100%" height="72" src="/img/membio-logo.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ./footer %>