<div class="card">
	<div class="card-header card-header-rose card-header-text">
		<div class="card-text">
			<h4 class="card-title"><%- helpers.inflector.camelize(controller) %> List</h4>
		</div>
	</div>
	<div class="card-body">
		<%- partial("list.ejs", {
			model: model,
			keys: model.getAdminFields('index'),
			controller: controller,
			list : list
		})
		%>
	</div>
</div>
